<%- model_class = Wiggle -%>
<div class="page-header">
  <h1>
    <%= params[:action].capitalize unless params[:action] == 'index' %>
    <%=t '.title', :default => model_class.model_name.human.pluralize %>
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @wiggles.each do |wiggle| %>
      <tr>
        <td><%= wiggle.name %></td>
        <td class="wiggle-actions">
          <% if user_signed_in? %>
            <div class="btn-group">
              <%=raw action_buttons(wiggle) %>
            </div>
          <% else %>
            This is where we'd let you rate a wiggle, if you were
            <%= link_to 'signed in', new_user_session_path %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless params[:action] == 'recommended' %>
  <%= paginate @wiggles, :theme => 'twitter-bootstrap', :pagination_class => "pagination-small pagination-centered" %>
<% end %>
